################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CoreWebApi/obj
/.vs/CoreWebApi/v15/Server/sqlite3
